body {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#container {
    width: 980px;
    height: 980px;
    border: 1px solid black;   
    display: flex;
    flex-direction: column; 
}
.horizontal-container {
    display: flex;
    flex: 1;
}
.horizontal-container .square {
    flex: 1;   
}
button {
    border-radius: 8px;
    background-color: aqua;
    margin: 16px;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}